body
{
    background-color:#373330; 
    color:#A7735B;
    margin-left:20%;
    margin-right:20%;
    margin-top:0%;
    margin-bottom:0%;
    border-width:0px;
}

#middle
{
    background-color:#D2DBCA;
    margin-top:4%;
    padding-bottom:20%;
    padding-top:3%;
}

#post
{
    padding-left:3%;
    padding-right:3%;
}

#post h1
{
    color:#594F4F;
}

#post p
{
    color:#373330;
}

#post a
{
    color:#A7735B;
}

